@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Montserrat:wght@300;500;700;900&family=Roboto:wght@500&display=swap');

.head {
    margin: 2rem auto;
    border: 2px solid;
    border-radius: 2rem;
    max-width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
.head h2 {
    padding-left: 2.5rem;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 400;
}
  
.head p {
    text-align: center;
  }
  
.head img {
    max-width: 200px;
    height: auto;
    position: relative;
  }

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-thumbnail {
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.project-thumbnail img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.project-thumbnail h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.project-thumbnail p {
    font-size: 14px;
    margin-bottom: 10px;
}

.project-thumbnail a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

  