.avantage .carousel {
  display: flex;
  overflow: hidden;
}

.avantage .carousel img {
  flex: 0 0 auto;
  width: 250px;
  margin: 0 10px;
  object-fit: contain;
  transition: transform 0.3s ease;
  filter: grayscale(100);
}

.avantage .carousel img:hover {
  filter: grayscale(0);
}

@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.avantage .carousel {
  animation: carouselAnimation 10s infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  position: relative;
}

.avantage .carousel:hover {
  animation-play-state: paused;
}