.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.card-title {
    width: 300px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    gap: 1rem;
  }
  
  .card-title img {
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .card h3 {
    font-size: 20px;
    margin-left: 0;
  }

  .card h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }


  .card-title {
    margin-top: 2rem;
  }
  .card-title p {
    font-size: 14px;
    color: #888;
  }
  
  .card-title a {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .card-title a:hover {
    background-color: #555;
  }

  main {
    padding: 20px;
  }
  
  .product {
    margin-bottom: 20px;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  