* {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0;
}

body {
  font-family: "Agdasima", sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(180deg, black, grey);
}


/* Header */
header {
  background-color: #f5f5f5;
  padding: 10px;
}


nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin:0;
}

.logo img {
  flex: 1;
  width: 4rem;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #000;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #333;
  margin-bottom: 4px;
  transition: background-color 0.3s ease;
}



#form {
  display: block;
  margin-bottom: 1rem;
}

.search-box {
  border: 1px solid #d2d2d2;
  font-size: 18px;
  font-weight: bold;
  padding: 7px 16px;
  border-radius: 1rem 0 0 1rem;
}

#input-search::placeholder {
  color: #000;
  opacity: 0.2;
}

.btn-search {
  border-radius: 0 1rem 1rem 0;
  background-color: grey;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px 8px 10px;
  cursor: pointer;
  margin-left: -5px;
}

.btn-search i {
  display: none;
}

.links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.links li a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.fa-brands {
  transition: color 0.3s ease;
}

.fa-brands:hover {
  color: rgb(255, 255, 255);
}


/* Main */
main {
  padding: 20px;
}

.head {
  margin: 2rem auto;
  border: 2px solid;
  background-color: #f1f1f1;
  border-radius: 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.head h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-image {
  width: 270px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  margin-right: 1rem;
}

.card-image-recto {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInRight 1s ease forwards;
}

.card-image-verso {
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInRight 1s ease forwards 0.5s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.head p {
  text-align: center;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.head .btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.head .btn:hover {
  background-color: #555;
}


.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-thumbnail {
  width: 300px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.project-thumbnail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.project-thumbnail h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.project-thumbnail p {
  font-size: 14px;
  margin-bottom: 10px;
  text-decoration: none;
}

.project-thumbnail a {
  display: inline-block;
  padding: 10px 20px;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
.project-thumbnail a:hover{
  background-color: #f1f1f1;
  color: #007bff;
}

#contact {
  text-align: center;
  margin: 2rem auto;
}

#contact h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
}

#contact p {
  margin-bottom: 0.5rem;
  color: white;
  
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#contact form {
  width: 100%;
}

#contact form label {
  display: block;
  margin-bottom: 0.5rem;
}

#contact form input,
#contact form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 2px solid
}

#contact form textarea {
  width: 100%;
}

#contact form .custom-button {
  display: block;
  width: 30%;
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 2rem;
  transition: background-color 0.3s ease;
}
#contact form .custom-button:hover {
  background-color: #555;
}

.product {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.product-article {
  max-width: 400px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product-details {
  display: block;
  margin: 0 auto;
}

.product-details img {
  max-width: 200px;
  height: auto;
}

.product-description p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

.buy-now-btn {
  padding: 0.75rem 1.5rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-now-btn:hover {
  background-color: #555;
}


/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer ul li {
  margin-right: 20px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .text-center {
  font-size: 14px;
}

footer .social {
  display: flex;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
  }

  header {
    padding: 10px;
    flex-direction: column;
  }
  ul{
    position: relative;
    bottom: 100%;
  }

  .logo img {
    width: 60px;
  }

  .search-box {
    padding: 7px 7px 11px 12px;
  }
  .btn-search {
    font-size: 16px;
    padding: 10px 10px 13px 12px;
  }

  .links li a {
    font-size: 20px;
  }

  .head {
    padding: 1rem;
  }

  .head h2 {
    font-size: 20px;
  }

  .card-image {
    width: 200px;
    height: 130px;
  }

  .head p {
    font-size: 14px;
  }

  .button-container {
    flex-direction: column;
  }

  .head .btn {
    padding: 0.5rem 1rem;
  }

  .thumbnails {
    max-width: 600px;
    margin: 0 auto;
  }

  .project-thumbnail {
    width: 250px;
    padding: 15px;
  }

  .project-thumbnail img {
    width: 160px;
    height: 160px;
  }

  #contact {
    max-width: 600px;
  }

  #contact h3 {
    font-size: 20px;
  }

  #contact form {
    max-width: 350px;
  }

  #contact form input,
  #contact form textarea {
    font-size: 14px;
    padding: 0.4rem;
  }

  #contact form .custom-button {
    padding: 0.5rem 1rem;
    font-size: 14px;
  }

  .product {
    flex-direction: column;
  }

  .product-article {
    max-width: 100%;
    margin-bottom: 2rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 0 auto
  }
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
    margin: 0 auto;
  }

  .menu-toggle.active span {
    background-color: #ff0000;
  }

  .menu-toggle span {
    background-color: #333;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle,
  .menu {
    width: 100%;
  }

  .menu-toggle {
    margin-top: 10px;
  }

  .menu.active {
    display: block;
  }

  .menu li {
    margin: 10px 0;
    border: 2px solid;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .menu li a {
    color: black;
  }

  #form {
    display: block;
    margin: 1rem auto;
  }

  .fa-solid .fa-message {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #input-search {
    border: 1px solid #d2d2d2;
    font-size: 17px;
    width: 25%;
    font-weight: bold;
    padding: 7px 0 8px 10px;
    margin-left: 0px;
  }

  ::placeholder {
    color: #000;
  }

  .btn-search {
    border-radius: 0 10px 10px 0;
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 21px;
    padding: 6px 17px 10px 22px;
    cursor: pointer;
    margin-left: -5px;
  }

  .btn-search i {
    display: flex;
  }

  .btn-search span {
    display: none;
  }


  .head h2 {
    font-size: 18px;
  }

  .card-image {
    width: 160px;
    height: 100px;
  }

  .head p {
    font-size: 12px;
  }

  .head .btn {
    padding: 0.4rem 0.8rem;
  }

  .project-thumbnail {
    width: 100%;
    padding: 10px;
  }

  .project-thumbnail img {
    width: 120px;
    height: 120px;
  }

  .project-thumbnail:hover {
    transform: none;
  }
  .project-thumbnail:hover img{
    transform: none;
  }
  .project-thumbnail:hover h3 {
    color: #000;
}
.project-thumbnail:hover p {
  color: #000;
}
.project-thumbnail a:hover {
  background-color: grey;
  color: white;
}

  #contact h3 {
    font-size: 18px;
  }

  #contact form input,
  #contact form textarea {
    font-size: 12px;
    padding: 0.3rem;
  }

  #contact form .custom-button {
    padding: 0.4rem 0.8rem;
    font-size: 12px;
  }
  /* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer ul {
  list-style: none;
  margin-bottom: 10px;
}

.footer ul li {
  margin-right: 20px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .text-center {
  font-size: 14px;
}

footer .links, .social {
  margin: 0 auto;
}

}
